.App {
}
.banner_h2
{
  font-size: 75px;
  color:rgb(41, 18, 62);
}
.banner {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  background-color: rgb(247, 148, 247);
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out; 
  background-color: rgb(247, 148, 247);
}
.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  background-color: rgb(247, 148, 247);
}
